/*
    RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*
    GENERAL
*/

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.big-container{
    width: 1200px;
    margin: 0 auto;
}
.small-container{
    width: 900px;
    margin: 0 auto;
}

.my-row{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

/*
    utility
*/
.row-spaced{
    justify-content: space-between;
}
.row-align-center{
    align-items: center;
}
.col-all-content{
width:100%;
}
.my-col-1-2{
    width:50%;
}
.my-col-1-3{
    width:calc(100% / 3);
}

/*
    HEADER
*/

header nav ul li{
    display:inline-block;
}

/*
    MAIN
*/

main .designt .my-row .my-col-1-3{
    height:calc(100vw / 3);
}

main .designt .my-row .my-col-1-3:first-of-type , main .designt .my-row .my-col-1-3:last-of-type {
    display:flex;
    flex-wrap: wrap;
}
/*
    FOOTER
*/
footer{
    background-color: black;
    color:white;
}
footer hr{
    width:10%;
    border-color:#fff;
}

/*
    DEBUG
*/
.debug nav{
    background-color: aqua;
    min-height: 50px;
}

.debug div{
    border:1px dashed black;
}
.debug nav .my-row>div{
    background-color: cadetblue;
    
    
}

.debug main .header-main{
    min-height: 500px;
    background-color: darkkhaki;
    padding:50px;
}

.debug main .header-main .jumbotron>*{
    background-color: lightcoral;
    min-height:100px;
}
.debug section{
    border:1px dashed blueviolet;
}
.debug main .price-plans{
    background-color: lightblue;
    min-height: 1200px;
}
.debug main .price-plans>*{
    min-height:50px;
}

.debug main .price-plans .my-row:nth-child(3)>*{
    background-color: lightgreen;
    min-height:150px;    
}

.debug main .price-plans .my-row:nth-child(4)>*{
    background-color: darkkhaki;
    min-height:150px;    
}

.debug main .info{
    background-color: lightgreen;
    min-height: 1200px;
}

.debug main .designt{
    background-color: lightsalmon;
    min-height: 600px;
}

.debug main .designt .my-row .my-col-1-3{
    background-color: lightgrey;
}

.debug main .faq{
    background-color: lightslategray;
    min-height: 800px;
}

.debug footer{
    min-height: 500px;
}
.debug footer .footer-top{
    background-color: lightblue;
    min-height: 300px;
}
.debug footer .footer-bottom{
    background-color: lightsalmon;
    min-height: 100px;
}