/*
    RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.my-row{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

/*
    utility
*/
.row-spaced{
    justify-content: space-between;
}
.row-align-center{
    align-items: center;
}

/*
    HEADER
*/

header nav ul li{
    display:inline-block;
}

/*
    MAIN
*/

/*
    FOOTER
*/

/*
    DEBUG
*/
.debug nav{
    background-color: aqua;
    min-height: 50px;
}

.debug div{
    border:1px dashed red;
}
.debug .my-row>div{
    background-color: cadetblue;
    
    
}